/* HEADER */
.header {
  font-size: 18px;
  width: 1100px;
  height: 293px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
}

.header__links-list {
  width: 391px;
  position: absolute;
  top: 133px;
  left: 50px;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo img {
  width: 148px;
}

.header__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: normal;
  width: 240px;
  position: absolute;
  top: 95px;
  left: 810px;
  display: flex;
  flex-direction: column;
}

/* COVER */

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  padding-top: 293px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 0.6;
}

.cover__title {
  width: 1000px;
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 114.99999999999999%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
}

.cover__title-line-top {
  display: block;
  width: 286px;
  position: absolute;
  top: 165px;
  left: 50px;
  align-self: start;
}

.cover__title-line-center {
  display: block;
  width: 339px;
  position: absolute;
  top: 300px;
  left: 380.5px;
  align-self: center;
}

.cover__title-line-bottom {
  display: block;
  width: 387px;
  position: absolute;
  top: 435px;
  left: 663px;
  align-self: flex-end;
}


.cover__description {
  width: 1000px;
  min-height: 51px;
  position: absolute;
  top: 656px;
  left: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.90em;
  text-transform: uppercase;
}

.cover__button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

/* LOTS */

.lots {
  width: 1052px;
  min-height: 723px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.lots__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lot-card {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  width: 334px;
  height: 596px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  position: relative;
  opacity: 1;
}

.lot-card--film { 
  background-image: url("../images/card-lot-01.jpg"); 
}
.lot-card--book { 
  background-image: url("../images/card-lot-02.jpg"); 
}
.lot-card--painting { 
  background-image: url("../images/card-lot-03.jpg"); 
}

.lot-card__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
}

.lot-card article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lot-card__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.lot-card__title {
  margin: 0;
  color: white;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}

.lot-card__text {
  margin: 0;
  margin-top: auto;
  width: 254px;
  color: white;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
}

.lots__more {
  margin-top: auto;
  margin-left: 40px;
  text-decoration: underline;
  color: black;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: normal;
}


/* ABOUT */

.about {
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  margin-left:24px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 120px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about__content{
  width: 693px;
  margin-top: 133px;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 102px;
  font-size: 40px;
}

.about__text {
  width: 693px;
  margin-top: 0;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;

}

/* FOOTER */

.footer {
  padding-bottom: 82px;
  width: 1100px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.footer__menu {
  margin-right: 102px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
}

.footer__link {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__link--main {
  display: inline-block;
  width: 74px;
}

.footer__link--about {
  display: inline-block;
  width: 164px;
  height: 22px;
}

.footer__link--preview {
  display: inline-block;
  white-space: nowrap;
}

.footer__social {
  width: 240px;
  margin-left: 45px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}