/* HEADER */
.header {
  font-size: 18px;
  width: 1100px;
  margin: 0 auto;
  padding: 92px 50px 96px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  flex: 1;
}

.header__links-list {
  list-style: none;
  display: flex;
  gap: 7px;
  align-items: center;
}

/* cдался и попросил помочь */
.header__links-list li:not(:last-child)::after {
  content: "◦";
  margin-left: 10px;
}

.header__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 129.11196899414062px;
  height:104.6517562866211px;
}

/* ADDRESS (универсальный блок) */
.address {
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

.address__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.address__link,
.address__text {
  width: 240px;
}

/* Header address - специфичные стили */
.header__address {
  flex: 1;
  align-items: flex-end;
}

/* COVER */

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cover__title {
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
}

/* Общие стили для всех строк заголовка */
.cover__title-line {
  margin-bottom: 40px;
}

.cover__title-line:last-child {
  margin-bottom: 0;
}

/* Позиционирование строк */
.cover__title-line:nth-child(1) {
  align-self: flex-start;
}

.cover__title-line:nth-child(2) {
  align-self: center;
}

.cover__title-line:nth-child(3) {
  align-self: flex-end;
}


.cover__description {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.8em;
  text-transform: uppercase;
}

.cover__button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

/* LOTS */

.lots {
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lot-card {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  width: 334px;
  min-height: 596px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  position: relative;
}

.lot-card--film { 
  background-image: url("../images/card-lot-01.jpg"); 
}
.lot-card--book { 
  background-image: url("../images/card-lot-02.jpg"); 
}
.lot-card--painting { 
  background-image: url("../images/card-lot-03.jpg"); 
}

.lot-card__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
}

.lot-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lot-card__title {
  margin: 0;
  color: white;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.lot-card__text {
  margin: 0;
  margin-top: auto;
  width: 254px;
  color: white;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: normal;
}

.lots__more {
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: black;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: normal;
}


/* ABOUT */

.about {
  width: 1052px;
  margin-top: 120px;
  margin-left:24px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 120px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about__content{
  width: 693px;
  margin-top: 133px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__title {
  margin-bottom: 82px;
  font-size: 40px;
}

.about__text {
  width: 693px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
}

/* FOOTER */

.footer {
  padding-bottom: 82px;
  width: 1100px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Footer address - специфичные стили (если нужны) */


.footer__menu {
  margin-right: 102px;
  text-align: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
}

.footer__link {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social {
  margin-right: 50px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}