* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, Arial, sans-serif;
}
main{
    width: 1100px;

}

/* HEADER */
.header {
  font-size: 18px;
  width: 1100px;
  height: 293px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
}

.header__links-list {
  width: 391px;
  height: 22px;
  position: absolute;
  top: 133px;
  left: 50px;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  width: 150px;
}

.header__address {
  width: 240px;
  height: 98px;
  position: absolute;
  top: 95px;
  left: 810px;
  display: flex;
  flex-direction: column;
}

/* COVER */

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  padding-top: 293px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.cover__title {
  width: 1000px;
  height: 385px;
  margin-top: 165px;
  margin-left: 50px;
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 114.99999999999999%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  letter-spacing: 30%;
}

.cover__title-line1 {

  align-self: start;
}

.cover__title-line2 {

  align-self: center;
}

.cover__title-line3 {

  align-self: flex-end;

}


.cover__description {
  line-height: 28px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 50%;
  text-transform: uppercase;
  
  
}

.cover__button {
  padding: 10px 25px;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

/* LOTS */

.lots {
  width: 1052px;
  height: 723px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.lots__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lot-card {
  width: 334px;
  height: 596px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  position: relative;
  opacity: 1;
}

.lot-card--one { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-01.jpg"); 
}
.lot-card--two { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-02.jpg"); 
}
.lot-card--three { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-03.jpg"); 
}


.lot-card--one h3,
.lot-card--two h3,
.lot-card--three h3 {
  position: absolute;
  top: 48px;
  margin-left: 24px;
  margin-right: 24px;
  margin: 0;
  color: white;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}


.lot-card--one p {
  position: absolute;
  width: 254px;
  height: 144px;
  top: 404px;
  left: 40px;
  margin: 0;
  color: white;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}


.lot-card--two p {
  position: absolute;
  width: 254px;
  height: 360px;
  top: 188px;
  left: 40px;
  margin: 0;
  color: white;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}


.lot-card--three p {
  position: absolute;
  width: 254px;
  height: 264px;
  top: 284px;
  left: 40px;
  margin: 0;
  color: white;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__more {
  margin-top: auto;
  margin-left: 40px;
  text-decoration: underline;
  color: black;
}


/* ABOUT */

.about {
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  margin-left:24px;
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 120px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about__content{
  width: 693px;
  height: 449px;
  margin-top: 133px;
  display: flex;
  flex-direction: column;
}

.about__content h2 {
  margin-bottom: 25px;
  font-size: 40px;
}

.about__content p {
  margin-top: auto;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
}

/* FOOTER */

.footer {
  width: 1100px;
  height: 180px;
  margin-top: 180px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu ul {
  list-style: none;
  text-align: center;
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  margin-right: 50px;
}